<form action="index.html" method="post">
  <label for="">First Name</label>
  <br>
  <input type="text"value="">
  <br><br>
  <label for="">Last Name</label>
  <br>
  <input type="text"value="">
  <br><br>
  <label for="">Portrait Url</label>
  <br>
  <input type="text"value="">
  <br><br>
  <label for="">Biography</label>
  <br>
  <textarea>
  </textarea>
  <br><br>
  <label for="">Books</label>
  <br>


    {{#books}}
    <input type="checkbox" name="name" value=""> {{title}}<br>
    {{/books}}

  </select>
  <br><br>
  <input type="submit" name="name" value="SEND THAT SHIT">
</form>
