<form action="/authors/add" method="post">
  <label for="">First Name</label>
  <br>
  <input type="text" name="first_name">
  <br><br>
  <label for="">Last Name</label>
  <br>
  <input type="text" name="last_name">
  <br><br>
  <label for="">Portrait Url</label>
  <br>
  <input type="text" name="portrait_url">
  <br><br>
  <label for="">Biography</label>
  <br>
  <textarea name='biography'></textarea>
  <br><br>
  <label for="">Books</label>
  <br>

    {{#books}}
    <input type="checkbox" name="book_id" value="{{id}}"> {{title}}<br>
    {{/books}}

  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>
