<form action="index.html" method="post">
  <label for="">First Name</label>
  <br>
  <input type="text"value="{{author.first_name}}">
  <br><br>
  <label for="">Last Name</label>
  <br>
  <input type="text"value="{{author.last_name}}">
  <br><br>
  <label for="">Portrait Url</label>
  <br>
  <input type="text"value="{{author.portrait_url}}">
  <br><br>
  <label for="">Biography</label>
  <br>
  <textarea>
    {{author.biography}}
  </textarea>
  <br><br>
  <label for="">Books</label>
  <br>
  <select class="" name="">


  </select>
  <br><br>
  <input type="submit" name="name" value="SEND THAT SHIT">
</form>
