<h2>Lookin' Good, Linc!</h2>
{{#books}}
<section class='books-panel'>
  <img src="{{cover_url}}" alt="" />
<h3>{{title}}</h3>
<button type="button" name="button">Edit</button>
<button type="button" name="button">Delete</button>
<p>{{description}}</p>
<div class='authors'>
  <h4>Peeps!</h4>

  <p></p>

</section>

{{/books}}
