<h2>Lookin' Good, Linc!</h2>
{{#books}}
<section class='books-panel'>
  <img src="{{url}}" alt="" />
<h3>{{title}}</h3>
<button type="button" name="button">Edit</button>
<button type="button" name="button">Delete</button>
<p>{{desc}}</p>
<div class='authors'>
  <h4>Peeps!</h4>
  {{#authors}}
  <p>{{this}}</p>
  {{/authors}}
</section>

{{/books}}
