
<section class='book-panel'>
  <img src="{{books.cover_url}}" alt="" />
<h3>{{books.title}}</h3>
<button type="button" name="button">Edit</button>
<button type="button" name="button">Delete</button>
<p>{{books.description}}</p>
<div class='books'>
  <h4>Authors!</h4>
{{#authors}}
  <p>{{this}}</p>
{{/authors}}
</section>
