<form action="index.html" method="post">
  <label for="">Title</label>
  <br>
  <input type="text"value="">
  <br><br>
  <label for="">Genre</label>
  <br>
  <input type="text"value="">
  <br><br>
  <label for="">Cover Url</label>
  <br>
  <input type="text"value="">
  <br><br>
  <label for="">What is this fuckin' book about, yo?</label>
  <br>
  <textarea>
  </textarea>
  <br><br>
  <label for="">Peeps!</label>
  <br>
  <select class="" name="">
    <option>Pick something</option>
    {{#authors}}
    <option>{{author}}</option>
    {{/authors}}

  </select>
  <br><br>
  <input type="submit" name="name" value="SEND THAT SHIT">
</form>
