
<div class="splash">

<div class="books-splash">
  <img src="http://fillmurray.com/300/200" alt="" />
  <h2>Books!</h2>
</div>
<div class="authors-splash">
  <img src="http://fillmurray.com/600/400" alt="" />
  <h2>Authors!</h2>

</div>

</div>
