<!DOCTYPE html>
<html>
  <head>
    <title>Galvanize Reads</title>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/3.0.3/normalize.css"/>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <header>
      <img src="/images/headerimg.jpg" alt="Marvel">
      <h1 class='banner'>Galvanize Reads!</h1>
    </header>
    {{{body}}}
  </body>
</html>
