body {
  background-color: gray; }

header {
  background-color: #f79033;
  height: 100px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #ede7e7, 0 10px 1px -4px rgba(0, 0, 0, 0.15); }
  header img {
    width: 60px;
    border-radius: 5px;
    display: inline;
    float: left;
    margin: 20px 30px; }

.banner {
  font-size: 3em;
  margin: 0;
  padding-top: 25px; }

.splash {
  width: 90vw;
  margin: 30px auto; }

.books-splash, .authors-splash {
  width: 45%;
  float: left;
  border: 1px solid black;
  text-align: center;
  background-color: white; }
  .books-splash img, .authors-splash img {
    width: 90%;
    border: 1px solid black;
    margin: 20px; }

* {
  font-family: 'Varela Round', sans-serif; }
